/*
navbar css
*/

.bar {
  backface-visibility: hidden;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 44px;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  right: 0;
  z-index: 10;
}

.bar-tab {
  border-bottom: 0 none;
  border-top: 1px solid #ddd;
  bottom: 0;
  display: table;
  height: 50px;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

.bar-tab .tab-item {
  color: #929292;
  display: table-cell;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  width: 1%;
  border-right: 1px solid #ddd;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: #aa0c40;
}

.bar-tab .tab-item .icon {
  height: 24px;
  padding-bottom: 0;
  padding-top: 0;
  top: 3px;
  width: 24px;
}

.bar .icon {
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  z-index: 20;
}

.icon {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
}

.icon-background-base {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}

.icon-home {
  background-image: url("../img/navbar/home-gray.png");
}

.icon-home-hover {
  background-image: url("../img/navbar/home-red.png");
}

.icon-person {
  background-image: url("../img/navbar/usercenter-gray.png");
}

.icon-person-hover {
  background-image: url("../img/navbar/usercenter-red.png");
}

.icon-cart {
  background-image: url("../img/navbar/car-gray.png");
}

.icon-cart-hover {
  background-image: url("../img/navbar/car-red.png");
}

.icon-search {
  background-image: url("../img/navbar/search-gray.png");
}

.icon-search-hover {
  background-image: url("../img/navbar/search-red.png");
}

.icon-cat {
  background-image: url("../img/navbar/fenlei-gray.png");
}

.icon-cat-hover {
  background-image: url("../img/navbar/fenlei-red.png");
}

.bar-tab .tab-item .icon ~ .tab-label {
  display: block;
  font-size: 11px;
}