<nav class="bar bar-tab" data-no-turbolink>
  <a class="tab-item" href="/">
    <span class="icon icon-background-base icon-home"></span>
    <span class="tab-label">主页</span>
  </a>
  <a class="tab-item active" href="/customer/users/center">
    <span class="icon icon-background-base icon-person-hover"></span>
    <span class="tab-label">用户中心</span>
  </a>
  <a class="tab-item" href="/customer/cart">
    <span class="icon icon-background-base icon-cart"></span>
    <span class="tab-label">购物车</span>
  </a>
  <a class="tab-item" href="/customer/products/search">
    <span class="icon icon-background-base icon-search"></span>
    <span class="tab-label">搜索</span>
  </a>
  <a class="tab-item" href="/customer/cats">
    <span class="icon icon-background-base icon-cat"></span>
    <span class="tab-label">分类</span>
  </a>
</nav>
