<style type="text/css">
  .shopping-cart-mark {
    position: absolute;
    left: -15px;
    width: 13px;
    height: 13px;
    background: #ffffff;
    border: 1px solid #7c0045;
    border-radius: 20px;
    font-size: 0.5em;
    color: #7c0045;
    text-align: center;
    padding:1px;
    display: none;
}
</style>
<script type="text/javascript">
  function removeH() {
    $('.nav-bar a').each(function(){
      var icon = $(this).data('icon');
      $(this).removeClass('active');
      $('icon', this).removeClass('icon-' + icon + '-hover');
    });
  }
  $(document).ready(function(){
    var shoppingCart = $.localStorage.get("shoppingCart");
    if (shoppingCart === null || shoppingCart === "") {
      $(".shopping-cart-mark").hide();
    }
    else {
      console.log("shoppingCart is " + shoppingCart);
      var JsonStr = JSON.parse(shoppingCart.substr(1, shoppingCart.length));
      var order_type = JsonStr.order_type;
      if(order_type == "is_product") {
        var productList = JsonStr.productList;
        var length = productList.length;
        if (length > 0) {
          $(".shopping-cart-mark").show();
          $(".shopping-cart-mark").text(length);
        } else {
          $(".shopping-cart-mark").hide();
        }
      }
      else {
        $(".shopping-cart-mark").hide();
      }
    }

    var url = $.url();
    var path = url.attr('path');
    if(path.startWith('/customer/cats')) {
      removeH();
      var nodeMenu = $('.cat-menu');
      nodeMenu.addClass('active');
      $('.icon', nodeMenu).addClass('icon-cat-hover');
    } else if(path.startWith('/customer/products/search')) {
      removeH();
      var nodeMenu = $('.search-menu');
      nodeMenu.addClass('active');
      $('.icon', nodeMenu).addClass('icon-search-hover');
    } else if(path.startWith('/customer/orders') || path.startWith('/customer/cart')) {
      removeH();
      var nodeMenu = $('.shopcart-menu');
      nodeMenu.addClass('active');
      $('.icon', nodeMenu).addClass('icon-cart-hover');
    } else if(path.startWith('/customer/users') || path.startWith('/customer/commission') || path.startWith('/customer/shipaddresses')) {
      removeH();
      var nodeMenu = $('.user-center-menu');
      nodeMenu.addClass('active');
      $('.icon', nodeMenu).addClass('icon-person-hover');
    } else {
      removeH();
      var nodeMenu = $('.home-menu');
      nodeMenu.addClass('active');
      $('.icon', nodeMenu).addClass('icon-home-hover');
    }
  });
</script>
<nav class="bar bar-tab nav-bar" data-no-turbolink>
  <a class="tab-item home-menu" data-icon='home' href="/">
    <span class="icon icon-background-base icon-home"></span>
    <span class="tab-label">主页</span>
  </a>
  <a class="tab-item user-center-menu" data-icon='person' href="/customer/users/center">
    <span class="icon icon-background-base icon-person"></span>
    <span class="tab-label">用户中心</span>
  </a>
  <a class="tab-item shopcart-menu" data-icon='cart' href="/customer/cart">
    <span class="icon icon-background-base icon-cart"><div class="shopping-cart-mark"></div></span>
    <span class="tab-label">购物车</span>
  </a>
  <a class="tab-item search-menu" data-icon='search' href="/customer/products/search">
    <span class="icon icon-background-base icon-search"></span>
    <span class="tab-label">搜索</span>
  </a>
  <a class="tab-item cat-menu" data-icon='cat' href="/customer/cats">
    <span class="icon icon-background-base icon-cat"></span>
    <span class="tab-label">分类</span>
  </a>
</nav>
