<% content_for :customer_title do %>
  转盘抽奖
<% end %>
<link href="/zhonglian/css/big_wheel.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #records p {
    margin-top: 5px;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 5px 0 5px 0;
    border: 1px solid #999;
  }
</style>
<div class="main">
  <style type="text/css">
  .window {
    width:290px;
    position:absolute;
    display:none;
    bottom:30px;
    left:50%;
    z-index:9999;
    margin:-50px auto 0 -145px;
    padding:2px;
    border-radius:0.6em;
    -webkit-border-radius:0.6em;
    -moz-border-radius:0.6em;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font:14px/1.5 Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;
  }
  .window .title {

    background-color: #A3A2A1;
    line-height: 26px;
    padding: 5px 5px 5px 10px;
    color:#fff;
    font-size:16px;
    border-radius:0.5em 0.5em 0 0;
    -webkit-border-radius:0.5em 0.5em 0 0;
    -moz-border-radius:0.5em 0.5em 0 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #585858 ), to( #565656 )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#585858, #565656); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#585858, #565656); /* FF3.6 */
    background-image:     -ms-linear-gradient(#585858, #565656); /* IE10 */
    background-image:      -o-linear-gradient(#585858, #565656); /* Opera 11.10+ */
    background-image:         linear-gradient(#585858, #565656);

  }
  .window .content {
    /*min-height:100px;*/
    overflow:auto;
    padding:10px;
    background: linear-gradient(#fbfbfb, #eee) repeat scroll 0 0 #fff9df;
    color: #222222;
    text-shadow: 0 1px 0 #fff;
    border-radius: 0 0 0.6em 0.6em;
    -webkit-border-radius: 0 0 0.6em 0.6em;
    -moz-border-radius: 0 0 0.6em 0.6em;
  }
  .window #txt {
    min-height:30px;font-size:16px; line-height:22px;
  }
  .window .txtbtn {
    background: #f1f1f1;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #dcdcdc ), to( #f1f1f1 )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fff , #dcdcdc ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fff , #dcdcdc ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fff , #dcdcdc ); /* IE10 */
    background-image:      -o-linear-gradient( #fff , #dcdcdc ); /* Opera 11.10+ */
    background-image:         linear-gradient( #fff , #dcdcdc );
    border: 1px solid #ccc;
    border-bottom: 1px solid #b4b4b4;
    color: #555555;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    display: block;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    text-align: windowcenter;
    font-weight: bold;
    font-size: 18px;
    padding:6px;
    margin:10px 0 0 0;
  }
  .window .txtbtn:visited {
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff ), to( #ccc )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fff , #ccc ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fff , #ccc ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fff , #ccc ); /* IE10 */
    background-image:      -o-linear-gradient( #fff , #ccc ); /* Opera 11.10+ */
    background-image:         linear-gradient( #fff , #ccc );
  }
  .window .txtbtn:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff ), to( #ccc )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fff , #ccc ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fff , #ccc ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fff , #ccc ); /* IE10 */
    background-image:      -o-linear-gradient( #fff , #ccc ); /* Opera 11.10+ */
    background-image:         linear-gradient( #fff , #ccc );
  }
  .window .txtbtn:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ccc ), to( #fff )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ccc , #fff ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #ccc , #fff ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #ccc , #fff ); /* IE10 */
    background-image:      -o-linear-gradient( #ccc , #fff ); /* Opera 11.10+ */
    background-image:         linear-gradient( #ccc , #fff );
    border: 1px solid #c9c9c9;
    border-top: 1px solid #b4b4b4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
  }

  .window .title .close {
    float:right;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACTSURBVEhL7dNtCoAgDAZgb60nsGN1tPLVCVNHmg76kQ8E1mwv+GG27cestQ4PvTZ69SFocBGpWa8+zHt/Up+IN+MhgLlUmnIE1CpBQB2COZibfpnXhHFaIZkYph0SOeeK/QJ8o7KOek84fkCWSBtfL+Ny2MPpCkPFMH6PWEhWhKncIyEk69VfiUuVhqJefds+YcwNbEwxGqGIFWYAAAAASUVORK5CYII=");
    width:26px;
    height:26px;
    display:block;
  }
  </style>

  <div style="display: none;" class="window" id="windowcenter">
    <div id="title" class="title">消息提醒<span class="close" id="alertclose"></span></div>
    <div class="content">
      <div id="txt">亲，继续努力哦！</div>
      <input value="确定" id="windowclosebutton" name="确定" class="txtbtn" type="button">
    </div>
  </div>
  <div id="outercont"  >
    <div id="outer-cont">
      <div id="outer"><img src="/zhonglian/img/big_wheel/diskdemo.png" id="diskbtn"></div>
    </div>
    <div id="inner-cont">
      <div id="inner" ><img src="/zhonglian/img/big_wheel/start.png" id="startbtn"></div>
    </div>
  </div>

  <div class="content">

    <div class="boxcontent boxyellow">
      <div class="box">
        <div class="title-green"><span>获奖记录：</span></div>
        <div class="Detail" id="records">
                <span></span>
          </div>
        </div>
      </div>
    <div class="boxcontent boxyellow">
      <div class="box">
        <div class="title-green"><span>奖项设置：</span></div>
        <div class="Detail">
          <p>每人最多允许抽奖次数:<span>1000</span> - 已抽取 <span class="red" id="usenums">29</span> 次</p>
          <p>一等奖: 再体验一把？！  </p>
          <p>二等奖: 微信营销培训（这个是测试哦） </p>
          <p>三等奖: 微易销功能手册（这个是测试哦） </p>
        </div>
        </div>
      </div>
      <div class="boxcontent boxyellow">
        <div class="box">
          <div class="title-green">活动说明：</div>
          <div class="Detail">
            <p>亲，请点击进入大转盘抽奖活动页面，开始体验微易销。
              祝您好运哦！</p>
              <p>活动时间:<span>2014-04-02</span>至<span>2015-05-02</span></p>
              <p><strong>兑奖请联系微易销总部服务热线：4008-910-114</strong></p>
            </div>
          </div>
        </div>
    </div>
</div>
<style>
.footFix{width:100%;text-align:center;position:fixed;left:0;bottom:0;z-index:99;}
#footReturn a, #footReturn2 a {
  display: block;
  line-height: 41px;
  color: #fff;
  text-shadow: 1px 1px #282828;
  font-size: 14px;
  font-weight: bold;
}
#footReturn, #footReturn2 {
  z-index: 89;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  outline: 0 none;
  overflow: visible;
  Unknown property name.-moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  height: 41px;
  opacity: .95;
  border-top: 1px solid #181818;
  box-shadow: inset 0 1px 2px #b6b6b6;
  background-color: #515151;
  Invalid property value.background-image: -ms-linear-gradient(top,#838383,#202020);
  background-image: -webkit-linear-gradient(top,#838383,#202020);
  Invalid property value.background-image: -moz-linear-gradient(top,#838383,#202020);
  Invalid property value.background-image: -o-linear-gradient(top,#838383,#202020);
  background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#838383),to(#202020));
  Invalid property value.filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#838383',endColorstr='#202020');
  Unknown property name.-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#838383',endColorstr='#202020');
}

</style>
<div style="height:60px;"></div>
<div class="footFix" id="footReturn"><a href="#"><span>返回众联主页</span></a></div>
<script type="text/javascript" src="/zhonglian/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/zhonglian/js/jQueryRotate.2.2.js"></script>
<script type="text/javascript">
$(function(){
  var $body = $('body');
  $body.addClass('activity-lottery-winning');
  $("#windowclosebutton").click(function () {
    $("#windowcenter").slideUp(500);
  });
  $("#alertclose").click(function () {
    $("#windowcenter").slideUp(500);
  });
    lottery();
});
function alert(title){
  $("#windowcenter").slideToggle("slow");
  $("#txt").html(title);
  setTimeout('$("#windowcenter").slideUp(500)',8000);
}
function enableFlag() {
  var $startbtn = $('#startbtn');
  $startbtn.data("flag", 'enable');

}
function lottery(){
  var $startbtn = $('#startbtn');
  var _ajax = function(){
        if($startbtn.data("flag") == 'enable') {
          $startbtn.data("flag", 'disable');
          $.ajax({
            type: 'POST',
            url: '/customer/big/wheel',
            dataType: 'json',
            cache: false,
            error: function(){
              alert('出错了！');
              return false;
            },
            success:function(json){
              var a = parseInt(json.angle); //角度
              var p = json.prize_name;//奖项
              var n = json.num;//剩余抽奖次数
              if(p!="" && a!=0){
                $("#diskbtn").rotate({
                  duration:3000, //转动时间
                  angle: 0, //默认角度
                  animateTo:3600+a, //转动角度
                  easing: $.easing.easeOutSine,
                  callback: function(){
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = date.getMonth()+1;
                    var days = new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');
                    var Day = date.getDate();
                    var day = days[date.getDay()];
                    var hour = date.getHours();
                    var minute = date.getMinutes();
                    if (minute < 10) minute = '0'+minute;
                    var second = date.getSeconds();
                    if (second < 10) second = '0'+second;
                    var nowTime = year+'-'+month+'-'+Day+' '+day+' '+hour+':'+minute+':'+second;
                    //alert('demo');
                    $('#result').slideDown(800);
                    $('#records span').after('<p>您在'+nowTime+'抽中了<strong>'+p+'</strong></p>');
                    $("#diskbtn").rotate({angle:0});
                    $("#diskbtn").css("cursor","pointer");
                  }
                });
              }else{
                alert("您已经没有抽奖次数了！");
              }
            }
          });
        }
        setTimeout("enableFlag()", 3000);
      }
  $startbtn.bind('click', _ajax)

}
</script>
