<% content_for :customer_title do %>
  转盘抽奖
<% end %>
<style type="text/css">
  /*.demo{width:417px; height:417px; position:relative; margin:50px auto}*/
  /*#disk{
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    background:url("/zhonglian/img/big_wheel/disk.jpg") no-repeat
  }*/
/*  #start{width:163px;
     height:320px; position:absolute; top:46px; left:130px; cursor:pointer;}
  #start img{cursor:pointer}*/
  body {
    padding: 0;
    margin: 0;
  }
  #header {
    background-color: #aa0c40;
    width: 85%;
    margin: 5px auto 10px auto;
    border-radius: 8px;
    padding: 10px auto;
  }
  #header a {
    float: left;
    margin-left: 5px;
    vertical-align: middle;
    padding-top: 5px;
    font-size: 20px;
    color: #fff;
  }
  #header span {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 5px 0;
    color: #fff;
  }
  .container {
    position: relative;
    width: 85%;
    height: auto;
    margin: 0 auto;
    clear: both;
    border-radius: 8px;
  }
  #disk {
    width: 100%;
    height: auto;
  }
  img {
    margin: 0 auto;
  }
  #disk img {
    vertical-align: middle;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  #start {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -82px;
    margin-top: -160px;
  }
  #records {
    width: 85%;
    margin: 10px auto 5px auto;
  }
  #records span {
    margin: 0;
    font-size: 20px;
    background-color: #aa0c40;
    display: block;
    border-radius: 8px;
    padding: 5px 0 5px 5px;
    color: #fff;
  }
  #records p {
    margin-top: 5px;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 5px 0 5px 0;
    border: 1px solid #999;
  }
</style>
<div id="header">
  <a href="#">&larr;</a>
  <span>幸运大转盘</span>
</div>
<div class="container">
  <div id="disk"><img src="/zhonglian/img/big_wheel/disk.jpg" /></div>
  <div id="start"><img src="/zhonglian/img/big_wheel/start.png" id="startbtn"></div>
</div>
<div id="records">
  <span>获奖记录</span>
</div>
<script type="text/javascript" src="/zhonglian/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/zhonglian/js/jQueryRotate.2.2.js"></script>
<script type="text/javascript">
$(function(){
  lottery();
});
function lottery(){
  $("#startbtn").click(function(){
    $.ajax({
      type: 'POST',
      url: '/customer/big/wheel',
      dataType: 'json',
      cache: false,
      error: function(){
        alert('出错了！');
        return false;
      },
      success:function(json){
        var a = parseInt(json.angle); //角度
        var p = json.prize_name;//奖项
        var n = json.num;//剩余抽奖次数
        if(p!="" && a!=0){
          $("#startbtn").rotate({
            duration:3000, //转动时间
            angle: 0, //默认角度
            animateTo:3600+a, //转动角度
            easing: $.easing.easeOutSine,
            callback: function(){
              var date = new Date();
              var year = date.getFullYear();
              var month = date.getMonth()+1;
              var days = new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');
              var Day = date.getDate();
              var day = days[date.getDay()];
              var hour = date.getHours();
              var minute = date.getMinutes();
              var second = date.getSeconds();
              var nowTime = year+'-'+month+'-'+Day+' '+day+' '+hour+':'+minute+':'+second;
              var con = confirm('恭喜你，中得'+p+'您还有'+n+'次抽奖次数，还要再来一次吗？');
              $('#records span').after('<p>您在'+nowTime+'抽中了<strong>'+p+'</strong></p>');
              $("#startbtn").rotate({angle:0});
              $("#startbtn").css("cursor","pointer");
              if(!con){
                $("#startbtn").unbind('click').css("cursor","default");
              }
            }
          });
        }else{
          alert("您已经没有抽奖次数了！");
        }
      }
    })
  })
}
</script>
