<% content_for :customer_title do %>
  提成记录
<% end %>
<style>
.commissions{
  width: 100%;
  background: #fff;
  text-align: left;
}
table {
  margin-left: 2.5%;
  width: 95%;
  border:1px;
}
tr {
  border-bottom: 1px solid #eee;
}
th {
  padding: 10px 0 0 10px;
}
td {
  padding: 10px 10px;
}


</style>
<div class="commissions">
  <table>
    <tr>
      <th>ID</th>
      <th>客户</th>
      <th>收益</th>
    </tr>
    <% @results.each do |p| %>
    <tr>
      <td><%= w.draw_type %></td>
      <td><%= p.from_user %></td>
      <td><%= p.money %><</td>
    </tr>
    <% end %>
  </table>
</div>
<%= render "site/shared/bottombar" %>
