<% content_for :customer_title do %>
  众联酒业微信商城
<% end %>

<style type="text/css">
  body {
    background-color: #fff;
  }
  /* 首页搜索 */
  .search-box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .search-box > img {
    width: 40px;
    height: 40px;
    float: left;
    padding: 10px;
  }
  .search-box .query {
    margin-left: 80px;
  }
  .search-box .q {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 20px;
    margin-top: 13px;
    width: 85%;
    padding: 6px 12px;
  }

  /* 首页导航 */
  .top-bar {
    width: 100%;
    height: 100px;
    margin: 20px 0 0 0;
    clear: both;
  }

  .top-bar .top-bar-item {
    width: 20%;
    height: 60px;
    float: left;
  }

  .top-bar .top-bar-item img {
    width: 40px;
    height: 40px;
  }

  .top-bar .top-bar-item p {
    text-align: center;
    line-height: 16px;
    font-size: 12px;
  }

  /* 首页商品和活动列表 */
  .mproductshow {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  .left {
    float: left;
    width: 55%;
    border-right: 1px solid #ccc;
    height: 130px;
  }
  .left img {
    width: 91%;
    margin: auto 3px;
    height: 130px;
    padding: 0 5px 5px 5px;
  }
  .right {
    margin-left: 55%;
  }
  .right img {
    width: 91%;
    margin-bottom: 3px;
    height: 62px;
    padding-left: 8px;
    padding-right: 3px;
  }
  .right .up {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  .right .down {
    padding-top: 3px;
  }
  .oproductshow {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center
  }
  .oproductshow img {
    width: 98%;
    height: 130px;
    margin: 5px;

  }
</style>

<div class="search-box">
  <img src="/zhonglian/img/logo.png">
  <%= form_tag({controller: "site", action: "index_search_result"}, method: "get", class: "search-form") do %>
  <div class="query">
    <input class="q" type="text" name="q" placeholder="请输入需要查找的宝贝" >
  </div>
  <% end %>
</div>

<div class="top-bar">
  <div class="top-bar-item">
    <p><a href="/customer/cats"><img src="/zhonglian/img/index/icon_fenlei.png"/></a></p>

    <p>全部分类</p>
  </div>
  <div class="top-bar-item">
    <p><a href="/customer/users/center"><img src="/zhonglian/img/index/icon_userconter.png"/></a></p>

    <p>用户中心</p>
  </div>
  <div class="top-bar-item">
    <p><a href="/customer/cart"><img src="/zhonglian/img/index/icon_gouwuche.png"/></a></p>

    <p>购物车</p>
  </div>
  <div class="top-bar-item">
    <p><a href="/customer/products/search"><img src="/zhonglian/img/index/icon_search.png"/></a></p>

    <p>搜索</p>
  </div>
  <div class="top-bar-item">
    <p><a href="/customer/groups_and_seckills"><img src="/zhonglian/img/index/icon_miaosha.png"/></a></p>

    <p>团购秒杀</p>
  </div>
</div>

<div class="mproductshow">
  <div class="left">
    <a href="#"><img src="/zhonglian/img/logo.png"></a>
  </div>
  <div class="right">
    <div>
      <a href="#"><img src="/zhonglian/img/logo.png" class="up"></a>
    </div>
    <div>
      <a href="#"><img src="/zhonglian/img/logo.png" class="down"></a>
    </div>
  </div>
</div>
<div class="mproductshow">
  <div class="left">
    <a href="#"><img src="/zhonglian/img/logo.png"></a>
  </div>
  <div class="right">
    <div>
      <a href="#"><img src="/zhonglian/img/logo.png" class="up"></a>
    </div>
    <div>
      <a href="#"><img src="/zhonglian/img/logo.png" class="down"></a>
    </div>
  </div>
</div>
<div class="oproductshow">
  <a href="#"><img src="/zhonglian/img/logo.png"></a>
</div>
<div class="oproductshow">
  <a href="#"><img src="/zhonglian/img/logo.png"></a>
</div>

<div class="top-bar">
  <div class="top-bar-item">
    <p><a href="/customer/cats"><img src="/zhonglian/img/index/icon_fenlei.png"/></a></p>

    <p>全部分类</p>
  </div>
  <div class="top-bar-item">
    <p><a href="/customer/users/center"><img src="/zhonglian/img/index/icon_userconter.png"/></a></p>

    <p>用户中心</p>
  </div>
  <div class="top-bar-item">
    <p><a href="/customer/cart"><img src="/zhonglian/img/index/icon_gouwuche.png"/></a></p>

    <p>购物车</p>
  </div>
  <div class="top-bar-item">
    <p><a href="/customer/products/search"><img src="/zhonglian/img/index/icon_search.png"/></a></p>

    <p>搜索</p>
  </div>
  <div class="top-bar-item">
    <p><a href="/customer/groups_and_seckills"><img src="/zhonglian/img/index/icon_miaosha.png"/></a></p>

    <p>团购秒杀</p>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $( ".q" ).focus(function(){
      $(this).css( "border", "1px solid #3385ff" );
    });
    $( ".q" ).blur(function(){
      $(this).css( "border", "1px solid #ccc");
    });
  });
</script>
