<% content_for :customer_title do %>
    搜索结果
<% end %>
<style type="text/css">
    .search-box {
        width: 100%;
        height: 200px;
        background-image: url("img/search/search_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-clip: content-box;
        background-origin: content-box;
        text-align: center;
        position: relative;
    }

    .search-form .q {
        height: 24px;
        width: 80%;
        border: 0 none;
        margin: 100px auto 0 auto;
        padding: 12px 15px;
        border-radius: 5px;
        opacity: 0.5;
    }

    .search-result {
        padding: 0 10px;
    }

    .search-result .title {
        font-size: 24px;
        margin: 1px 0 3px 0;
    }

    .search-result-item {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        text-align: center;
    }

    .search-result-item p {
        text-align: center;
        color: #ffffff;
        margin: 5px 10px;
    }

    .search-result-item p span:first-child {
        float: left;
    }

    .search-result-item p span:last-child {
        float: right;
    }

    .search-result-item p img {
        width: 120px;
        height: 120px;
    }
</style>
<div class="search-box">
  <form class="search-form" action="#" method="get">
    <input class="q" type="text" name="q" placeholder="">
  </form>
</div>
<hr/>

<div class="search-result">
  <p class="title">搜索结果</p>

  <div class="search-result-item">
    <p><img src="img/index/shangpin.jpg"/></p>

    <p><span>葡萄酒</span><span>Y 600</span></p>
  </div>
</div>
<%= render "site/shared/bottombar" %>
