<% content_for :customer_title do %>
  添加收货地址
<% end %>
<div class="form-box">
  <form class="input-group">
    <div class="input-row">
      <label>姓名</label>
      <input type="text" placeholder="用户名">
    </div>
    <div class="input-row">
      <label>省份</label>
      <input type="text" placeholder="省">
    </div>
    <div class="input-row">
      <label>城市</label>
      <input type="text" placeholder="城市">
    </div>
    <div class="input-row">
      <label>地区</label>
      <input type="text" placeholder="地区">
    </div>
    <div class="input-row">
      <label>街道地址</label>
      <input type="text" placeholder="省">
    </div>
    <div class="input-row">
      <label>邮编</label>
      <input type="text" placeholder="城市">
    </div>
    <div class="input-row">
      <label>手机</label>
      <input type="text" placeholder="地区">
    </div>
    <div class="input-row">
      <label>固定电话</label>
      <input type="text" placeholder="地区">
    </div>

    <button class="btn btn-red btn-block">添加</button>
  </form>
</div>
<%= render "site/shared/bottombar" %>
