<% content_for :customer_title do %>
商城分类
<% end %>
<script>
(function () {
  $(document).on('ready page:load',function(){
    node = $(".node");
    alert(node);
  });
}).call(this);
$(document).ready(function(){
  node = $(".node");
  alert(node);
});
</script>
<div class="node">
test
</div>
