<% content_for :customer_title do %>
  用户中心
<% end %>
<style type="text/css">
  body {
    margin-top: -19px;
  }
  .main {
    width: 100%;
    height: auto;
  }

  .top {
    background-image: url("/zhonglian/img/user_center/user_center_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 190px;
    margin: 0;
    padding: 0;
  }

  .top p:first-child {
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
    font-size: 24px;
    color: #fff;
  }
  .tab {
    width: 100%;
    height: 80px;
    margin-top: 26px;
    margin-bottom:8px;
  }
  .tab .tab-item {
    background-color: #cfcdcb;
    opacity: 0.4;
    padding-top: 10px;
    float: left;
    width: 25%;
    height: 80px;
  }

  .tab .tab-item p {
    text-align: center;
    margin: 0 auto 10px auto;
    padding: 0;
    color: #444;
  }
  .extra-bar {
    width: 80%;
    margin: 20px auto 70px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
  }
  .extra-bar div {
    border-bottom: 1px solid #ddd;
    clear: both;
    display: block;
    height: 70px;
  }

  .p-l {
    width: 80%;
    display: block;
    float: left;
    line-height: 45px;
  }

  .p-l a {
    font-size: 24px;
    color: #ddd;
    margin: auto auto auto 20px;
  }

  .p-r {
    width: 15%;
    display: block;
    float: left;
    line-height: 45px;
  }

  .p-r a {
    font-size: 24px;
    color: #ddd;
    margin: auto auto auto 20px;
  }
  .extra-bar div a{
    color: #666;
  }
</style>
<div class="main">
  <div class="top">
    <p><%= @user.username %></p>
    <div class="tab">
      <div class="tab-item">
        <a href="/customer/users/wait/ship">
          <p><img src="/zhonglian/img/user_center/icon_wait_to_ship.png"/></p>
          <p>待发货</p>
        </a>
      </div>
      <div class="tab-item">
        <a href="/customer/users/wait/pay">
          <p><img src="/zhonglian/img/user_center/icon_wait_to_pay.png"/></p>
          <p>待付款</p>
        </a>
      </div>
      <div class="tab-item">
        <a href="/customer/users/wait/receive">
          <p><img src="/zhonglian/img/user_center/icon_wait_to_receive.png"/></p>
          <p>待收货</p>
        </a>
      </div>
      <div class="tab-item">
        <a href="/customer/users/orders/history">
          <p><img src="/zhonglian/img/user_center/icon_history_order.png"/></p>
          <p>历史订单</p>
        </a>
      </div>
    </div>
  </div>
  <div class="extra-bar">
    <div>
      <p class="p-l"><a href="/customer/shipaddresses">收货地址管理</a></p>
      <p class="p-r"><a href="/customer/shipaddresses">&gt;</a></p>
    </div>
    <div>
      <p class="p-l"><a href="/customer/users/vipcard">我的会员卡</a></p>
      <p class="p-r"><a href="/customer/users/vipcard">&gt;</a></p>
    </div>
    <div>
      <p class="p-l"><a href="/customer/commission">我的提成</a></p>
      <p class="p-r"><a href="/customer/commission">&gt;</a></p>
    </div>
    <div>
      <p class="p-l">
        <%= link_to destroy_user_session_path, method: :delete do %>
          退出
        <% end %>
      </p>
      <p class="p-r"><a href="#">&gt;</a></p>
    </div>
    <div>
      <p class="p-l"><a href="#">帮助</a></p>
      <p class="p-r"><a href="#">&gt;</a></p>
    </div>
  </div>
</div>
<%= render "site/shared/bottombar" %>
