<% content_for :customer_title do %>
    用户中心
<% end %>
<style type="text/css">
    .main {
        width: 100%;
        height: auto;
    }

    .top {
        background-image: url("./img/user_center/user_center_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 100px;
    }

    .top p {
        margin: 0;
        padding: 30px 0 0 0;
        text-align: center;
        font-size: 24px;
        color: #ffffff;
    }

    .tab {
        width: 100%;
        height: 80px;
    }

    .tab .tab-item {
        float: left;
        width: 25%;
        height: 80px;
    }

    .tab .tab-item p {
        text-align: center;
        margin: 0 auto 10px auto;
        padding: 0;
    }

    .extra-bar {
        width: 80%;
        margin: 20px auto 70px auto;
        border: 1px solid #dddddd;
        border-radius: 5px;
        padding: 15px;
        background-color: #ffffff;
    }

    .extra-bar div {
        border-bottom: 1px solid #ddd;
        clear: both;
        display: block;
        height: 70px;
    }

    .p-l {
        width: 80%;
        display: block;
        float: left;
        line-height: 45px;
    }

    .p-l a {
        font-size: 24px;
        color: #dddddd;
        margin: auto auto auto 20px;
    }

    .p-r {
        width: 15%;
        display: block;
        float: left;
        line-height: 45px;
    }

    .p-r a {
        font-size: 24px;
        color: #dddddd;
        margin: auto auto auto 20px;
    }
</style>
<div class="main">
  <div class="top"><p>杨康</p></div>
  <div class="tab">
    <div class="tab-item">
      <p><img src="/zhonglian/img/user_center/icon_wait_to_ship.png"/></p>

      <p>待发货</p>
    </div>
    <div class="tab-item">
      <p><img src="/zhonglian/img/user_center/icon_wait_to_pay.png"/></p>

      <p>待付款</p>
    </div>
    <div class="tab-item">
      <p><img src="/zhonglian/img/user_center/icon_wait_to_receive.png"/></p>

      <p>待收货</p>
    </div>
    <div class="tab-item">
      <p><img src="/zhonglian/img/user_center/icon_history_order.png"/></p>

      <p>历史订单</p>
    </div>
  </div>
  <div class="extra-bar">
    <div>
      <p class="p-l"><a href="#">收货地址管理</a></p>

      <p class="p-r"><a href="#">&gt;</a></p>
    </div>
    <div>
      <p class="p-l"><a href="#">我的会员卡</a></p>

      <p class="p-r"><a href="#">&gt;</a></p>
    </div>
    <div>
      <p class="p-l"><a href="#">我的提成</a></p>

      <p class="p-r"><a href="#">&gt;</a></p>
    </div>
    <div>
      <p class="p-l"><a href="#">帮助</a></p>

      <p class="p-r"><a href="#">&gt;</a></p>
    </div>
  </div>
</div>
<%= render "site/shared/bottombar" %>
