<p>你好, <%= @resource.email %>!</p>

<p>如需修改密码, 请点击一下链接.</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不需要, 请忽略这封邮件.</p>
<p>如果你不通过以上链接修改, 那么你的密码将保存不变.</p>
